button {
  background: #6a1b9a;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: .5rem .3rem;
   
}

button:hover {
  background: #4a148c;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
  transition: border-color 0.3s ease;
  margin: auto;
}

input:focus {
  border-color: #6a1b9a;
  outline: none;
}

.formularioMock input,
.chamaInfo input,
.ToDo input {
  display: block;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;

  margin: auto;
}
